@model IEnumerable<PMS.DTOs.ProductDTO>

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
       
     
    </tr>
    @{ double total = 0;}
@foreach (var item in Model) {
    total += item.Qty * item.Price;
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        
    </tr>
}
    <tr>
        <td></td>
        <th>Total</th>
        <th>@total</th>
    </tr>

</table>
<form method="post" action="/order/place">
    <input  type="hidden" value="@total" name="Total" />
    <input type="submit" value="Place Order" class="btn btn-danger" />

</form>